n8n/CieloBot - Pizza dal Cielo.json
{
  "name": "CieloBot - Pizza dal Cielo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "lastNode",
        "options": {
          "responseContentType": "application/json"
        }
      },
      "id": "3f092960-c4cf-46a2-80d1-33accd612442",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1472,
        144
      ],
      "webhookId": "chatbot"
    },
    {
      "parameters": {
        "jsCode": "// Parse la réponse d'OpenAI pour détecter le JSON de commande\nconst aiResponse = $input.first().json.message?.content || $input.first().json.text || '';\n\nlet action = 'reply';\nlet orderData = null;\nlet message = aiResponse;\n\n// Chercher un bloc JSON dans la réponse\nconst jsonPatterns = [\n  /```json\\s*\\n?([\\s\\S]*?)\\n?```/,\n  /```\\s*\\n?([\\s\\S]*?)\\n?```/,\n  /(\\{[\\s\\S]*\"action\"\\s*:\\s*\"create_order\"[\\s\\S]*\\})/\n];\n\nfor (const pattern of jsonPatterns) {\n  const match = aiResponse.match(pattern);\n  if (match) {\n    try {\n      const parsed = JSON.parse(match[1] || match[0]);\n      if (parsed.action === 'create_order' && parsed.data) {\n        action = 'create_order';\n        orderData = parsed.data;\n        \n        // Validation du numéro de téléphone\n        if (orderData.client_phone && !orderData.client_phone.startsWith('+596')) {\n          orderData.client_phone = '+596' + orderData.client_phone.replace(/[\\s\\-\\.]/g, '').replace(/^0/, '');\n        }\n        \n        // Nettoyage du téléphone\n        orderData.client_phone = orderData.client_phone.replace(/[\\s\\-\\.]/g, '');\n        \n        // S'assurer que le format heure est correct (HH:MM)\n        if (orderData.heure_souhaitee && !orderData.heure_souhaitee.includes(':')) {\n          orderData.heure_souhaitee = orderData.heure_souhaitee.replace(/h/i, ':') + ':00';\n        }\n        \n        // Recalculer le total pour sécurité\n        let calculatedTotal = 0;\n        if (Array.isArray(orderData.items)) {\n          orderData.items.forEach(item => {\n            calculatedTotal += (item.price || 0) * (item.quantity || 1);\n          });\n        }\n        if (orderData.type_service === 'delivery') {\n          calculatedTotal += 3; // Frais de livraison\n        }\n        orderData.total = calculatedTotal;\n        \n        // Ajouter les notes\n        orderData.notes = orderData.notes || 'Commande via CieloBot';\n        orderData.status = 'pending_validation';\n        \n        // Message de confirmation pour le client\n        message = '🎉 Votre commande a été envoyée avec succès ! Guylian va la valider rapidement. Vous recevrez un lien de paiement sur WhatsApp. Merci et à très vite chez Pizza dal Cielo ! 🍕';\n        break;\n      }\n    } catch (e) {\n      // JSON invalide, on continue\n    }\n  }\n}\n\n// Si la réponse entière est un JSON valide\nif (action === 'reply') {\n  try {\n    const parsed = JSON.parse(aiResponse.trim());\n    if (parsed.action === 'create_order' && parsed.data) {\n      action = 'create_order';\n      orderData = parsed.data;\n      \n      if (orderData.client_phone && !orderData.client_phone.startsWith('+596')) {\n        orderData.client_phone = '+596' + orderData.client_phone.replace(/[\\s\\-\\.]/g, '').replace(/^0/, '');\n      }\n      orderData.client_phone = orderData.client_phone.replace(/[\\s\\-\\.]/g, '');\n      \n      let calculatedTotal = 0;\n      if (Array.isArray(orderData.items)) {\n        orderData.items.forEach(item => {\n          calculatedTotal += (item.price || 0) * (item.quantity || 1);\n        });\n      }\n      if (orderData.type_service === 'delivery') {\n        calculatedTotal += 3;\n      }\n      orderData.total = calculatedTotal;\n      orderData.notes = orderData.notes || 'Commande via CieloBot';\n      orderData.status = 'pending_validation';\n      \n      message = '🎉 Votre commande a été envoyée avec succès ! Guylian va la valider rapidement. Vous recevrez un lien de paiement sur WhatsApp. Merci et à très vite chez Pizza dal Cielo ! 🍕';\n    }\n  } catch (e) {\n    // Pas un JSON, c'est une réponse texte normale\n  }\n}\n\nreturn {\n  json: {\n    action,\n    message,\n    orderData\n  }\n};"
      },
      "id": "cd3265d1-850b-4095-9490-f42be514bf4d",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "create_order",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6ff938b7-f32e-4ac8-867e-ead44715760c",
      "name": "IF - Order?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -720,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL || 'https://pizzadalcielo.vercel.app' }}/api/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.orderData) }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 3
            }
          },
          "timeout": 15000
        }
      },
      "id": "8faa3922-1c4d-4b85-9c88-765823b849b2",
      "name": "Create Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const orderResponse = $input.first().json;\nconst previousData = $('Parse Response').first().json;\n\nif (orderResponse.order && orderResponse.order.token) {\n  return {\n    json: {\n      action: 'create_order',\n      message: previousData.message,\n      token: orderResponse.order.token,\n      orderId: orderResponse.order.id,\n      success: true\n    }\n  };\n} else {\n  return {\n    json: {\n      action: 'reply',\n      message: '😔 Oups, il y a eu un petit souci avec votre commande. Pas de panique ! Vous pouvez nous appeler directement au +596 696 88 72 70 ou passer commande sur le site. Désolé pour la gêne !',\n      success: false\n    }\n  };\n}"
      },
      "id": "9c75c327-1e92-48fa-b215-5163b2cadd01",
      "name": "Format Order Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "30619e15-dda2-417d-be95-1755bc57774e",
      "name": "Respond (Order)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        80,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn {\n  json: {\n    action: 'reply',\n    message: data.message\n  }\n};"
      },
      "id": "cbae54ae-c368-4958-8e0f-724e5d28b15d",
      "name": "Format Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        272
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "72726839-4266-467a-a1e4-3d11d522b83c",
      "name": "Respond (Reply)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -192,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Error handler : si le HTTP Request échoue\nreturn {\n  json: {\n    action: 'reply',\n    message: '😔 Un problème technique est survenu. Vous pouvez commander directement sur notre site pizzadalcielo.vercel.app ou nous appeler au +596 696 88 72 70. Toutes nos excuses !',\n    success: false\n  }\n};"
      },
      "id": "39b32ee9-3df8-4392-9e92-eaa6e0aa5e30",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "10a7ff43-fd35-4788-84c1-af901a170d60",
      "name": "Respond (Error)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        80,
        -128
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Tu es CieloBot, l'assistant virtuel de Pizza dal Cielo, pizzeria artisanale à Bellevue, Fort-de-France, Martinique. Tu parles français avec une touche chaleureuse et martiniquaise. Tu es professionnel, concis et serviable.\n\n═══════════════════════════════════\nIDENTITÉ\n═══════════════════════════════════\n- Pizzeria : Pizza dal Cielo\n- Fondateur : Guylian Grangenois (ouverture juin 2024)\n- Localisation : Quartier Bellevue, Fort-de-France, Martinique 97200\n- Téléphone : +596 696 88 72 70\n- WhatsApp : +596696887270\n- Email : pizzadalcielo@gmail.com\n- Instagram : @pizza_dal_cielo\n- Facebook : Pizza dal Cielo\n- Note TripAdvisor : 5.0/5\n- Horaires : Mardi → Samedi, 18h–22h. Fermé Dimanche et Lundi.\n\n═══════════════════════════════════\nMENU COMPLET (PRIX ET IDs OBLIGATOIRES)\n═══════════════════════════════════\n\nPIZZAS CLASSIQUES\n- Margherita : 11€ (id: 101) — Base au choix, Mozzarella, Emmental, Basilic, Olive\n- Jambon Fromage : 13€ (id: 102) — Base au choix, Mozzarella, Emmental, Jambon fumé, Olive\n- Calzone O/F : 15€ (id: 103) — Base au choix, Mozzarella, Emmental, Jambon fumé, Œuf, Olive\n- Hawaïenne : 15€ (id: 104) — Base au choix, Mozzarella, Emmental, Jambon fumé, Ananas, Olive\n- Reine : 16€ (id: 105) — Base au choix, Mozzarella, Emmental, Jambon fumé, Champignon frais, Olive\n- Chorizo : 14€ (id: 106) — Base au choix, Mozzarella, Emmental, Chorizo, Oignon rouge, Olive\n- Orientale : 16€ (id: 107) — Base au choix, Mozzarella, Emmental, Merguez, Poivron, Œuf, Olive\n- Savoyarde : 16€ (id: 108) — Base au choix, Mozzarella, Emmental, Bacon fumé, Pomme de terre, Oignon rouge, Olive\n- Carbonara : 16€ (id: 109) — Base au choix, Mozzarella, Emmental, Bacon fumé, Œuf, Parmesan, Olive\n\nPIZZAS SPÉCIALES\n- Crispy : 15€ (id: 201) — Poulet cuisiné, Oignon frit, sauce — populaire\n- Colombo : 16€ (id: 202) — Poulet colombo, Oignon rouge, sauce\n- Saucisse fumée : 16€ (id: 203) — Saucisse fumée, Oignon rouge, sauce\n- Bouchère : 17€ (id: 204) — Bœuf cuisiné, Bacon fumé, Oignon rouge, sauce\n- Burger : 18€ (id: 205) — Bœuf cuisiné, Bacon fumé, Oignon frit, sauce\n- Suprême : 20€ (id: 206) — Bœuf, Bacon, Chorizo, Jambon, Merguez, Poulet, sauce — premium\n- Duchesse : 20€ (id: 207) — Roquette, Jambon cru, Tomate cerise, Parmesan, sauce — premium\n\nPIZZAS SIGNATURES\n- Bergère : 15€ (id: 208) — Oignon, Chèvre, Olive, sauce\n- 4 Fromages : 16€ (id: 209) — Mozzarella, Emmental, Bleu, Roquefort, Olive — végétarienne\n- Végétarienne : 15€ (id: 210) — Champignon, Poivron, Oignon rouge, sauce — végétarienne\n- Veggie : 16€ (id: 211) — Roquette, Tomate cerise, Parmesan, sauce — végétarienne\n- Anchois : 13€ (id: 212) — Anchois, Olive\n- Thon : 16€ (id: 213) — Thon cuisiné, Oignon rouge, sauce\n- Crevettes : 20€ (id: 214) — Crevette, Oignon rouge, sauce — premium\n- Saumon : 21€ (id: 215) — Saumon fumé, Roquette, Parmesan, sauce — premium, populaire\n\nPIZZA DU CHEF\n- L'Éphémère du Chef : 18€ (id: 900) — Création exclusive qui change tous les 15 jours — premium\n\nFRIANDS\n- Classique : 8€ (id: 301) — Poulet, Chorizo, Jambon, Merguez, Saucisses\n- Végétarien : 8€ (id: 302) — Champignon, Poivron, Oignon rouge, Oignon frit\n- Super Carnivore : 10€ (id: 303) — Fromage ×2, Bœuf, Chorizo, Jambon, Merguez, Poulet, Saucisses — populaire\n\nBOISSONS\n- Coca Cola 50cl : 2.50€ (id: 401)\n- Orangina 50cl : 2.50€ (id: 402)\n- Mont Pelé 50cl : 2€ (id: 403)\n- Didier 50cl : 2.50€ (id: 404)\n- Didier Citron 50cl : 2.50€ (id: 405)\n- Chanflor 50cl : 2€ (id: 406)\n\nSUPPLÉMENTS (pizza personnalisée sur le site)\n- Fromages : +2€ | Salades : +2€ | Condiments : +2€ | Viandes : +3€ | Produits de la mer : +4€\nBases : Tomate, Crème, Verte (incluses). Sauces : Ketchup 1€, Barbecue 1€, Burger 1€, Miel 1€, Pesto maison 1.50€.\n\n═══════════════════════════════════\nTON RÔLE\n═══════════════════════════════════\n1. Accueillir chaleureusement et aider le client (conseils, horaires, adresse, commande).\n2. Pour une COMMANDE, collecter dans l'ordre ou au fil de la conversation :\n   - Nom du client\n   - Téléphone (format +596 obligatoire : convertir 0696… en +596696…)\n   - Produits commandés (nom + quantité, avec les IDs du menu ci-dessus)\n   - Type de service : \"Click & Collect\" (gratuit) ou \"Livraison\" (+3€)\n   - Heure souhaitée entre 18h et 22h (créneaux 30 min : 18:00, 18:30, 19:00, etc.)\n3. Toujours faire un récapitulatif (items, quantités, prix, total, heure, type de service) avant de demander confirmation.\n4. Quand le client CONFIRME explicitement (\"oui\", \"c'est bon\", \"parfait\", \"je confirme\", \"valide\"), répondre UNIQUEMENT par le JSON de commande ci-dessous, sans aucun texte avant ou après.\n\n═══════════════════════════════════\nFORMAT DE SORTIE POUR CRÉER UNE COMMANDE\n═══════════════════════════════════\nTu ne dois retourner que ce JSON (rien d'autre) quand toutes les infos sont collectées et que le client confirme :\n\n{\"action\":\"create_order\",\"data\":{\"client_name\":\"Prénom du client\",\"client_phone\":\"+596696XXXXXX\",\"type_service\":\"click_collect\",\"heure_souhaitee\":\"19:30\",\"items\":[{\"id\":101,\"name\":\"Margherita\",\"price\":11,\"quantity\":1,\"category\":\"Classique\"}],\"total\":11,\"notes\":\"Commande via CieloBot\"}}\n\nRègles pour le JSON :\n- client_phone : TOUJOURS commencer par +596. Si le client donne 0696… ou 696…, convertir en +596696…\n- type_service : uniquement \"click_collect\" ou \"delivery\"\n- heure_souhaitee : format HH:MM (ex. 19:30), entre 18:00 et 22:00\n- items : tableau d'objets avec id (nombre du menu), name, price (nombre), quantity (nombre), category (\"Classique\", \"Spéciale\", \"Signature\", \"Du Chef\", \"Friands\", \"Boissons\")\n- total : somme de (price × quantity) pour chaque item ; si Livraison, ajouter 3€\n- notes : tu peux laisser \"Commande via CieloBot\" ou une note courte du client\n\n═══════════════════════════════════\nCOMPORTEMENT\n═══════════════════════════════════\n- Réponses courtes et naturelles. Utilise des emojis avec parcimonie (🍕 😊 🎉 ✨).\n- Tutoiement ou vouvoiement selon le ton du client.\n- Si le client demande horaires, adresse, contact, réservation (table) : répondre normalement sans forcer la commande. Pour réserver une table : indiquer d'appeler le +596 696 88 72 70.\n- Si produit hors menu : proposer gentiment une alternative du menu.\n- Recommander les populaires (Crispy, Saumon, Super Carnivore) si le client hésite.\n- Ne jamais inventer de prix ni de produits : rester strictement sur le menu ci-dessus.\n- Pour toute question technique (site, paiement) : orienter vers le site ou le téléphone.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1264,
        144
      ],
      "id": "42cf27cb-4f4f-494d-985f-ade313198e4f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -1312,
        352
      ],
      "id": "4b2c1a50-be16-41b2-8fc6-b4cf213c9313",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "s16Eub8KTcJLPBw5",
          "name": "KARIBLOOM DEEPSEEK"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "IF - Order?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Order?": {
      "main": [
        [
          {
            "node": "Create Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Order": {
      "main": [
        [
          {
            "node": "Format Order Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Order Response": {
      "main": [
        [
          {
            "node": "Respond (Order)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reply": {
      "main": [
        [
          {
            "node": "Respond (Reply)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Respond (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1c60e6b0-c1ef-42c4-9740-264317ef9d29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "599c124565a8f36fe2fbc8f53114dcc39cdf941dcbdaac98566633b4f8753f55"
  },
  "id": "7HjkoL_f-v_P7V2mfj5sY",
  "tags": [
    {
      "name": "CieloBot",
      "id": "sBlUef2erY6IsDRO",
      "updatedAt": "2026-02-12T02:02:12.034Z",
      "createdAt": "2026-02-12T02:02:12.034Z"
    },
    {
      "name": "Production",
      "id": "GG8iFzukNfpH1cno",
      "updatedAt": "2026-02-12T02:02:12.063Z",
      "createdAt": "2026-02-12T02:02:12.063Z"
    }
  ]
}