n8n/CieloBot - Pizza dal Cielo.json
{
  "name": "CieloBot - Pizza dal Cielo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "celiobot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3f092960-c4cf-46a2-80d1-33accd612442",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1472,
        144
      ],
      "webhookId": "celiobot"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec001234-5678-90ab-cdef-012345678901",
              "name": "chatInput",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "ec001234-5678-90ab-cdef-012345678902",
              "name": "sessionId",
              "value": "={{ $json.body.sessionid || 'default-session' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e1f2a3b4-c5d6-7890-abcd-ef1234567891",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1360,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse la réponse de l'AI pour détecter le JSON de commande\nconst aiResponse = $input.first().json.output || $input.first().json.message?.content || $input.first().json.text || '';\n\nlet action = 'reply';\nlet orderData = null;\nlet message = aiResponse;\n\n// ─── Fonction de traitement d'une commande extraite ───────────────────────────\nfunction processOrderData(parsed) {\n  if (parsed.action !== 'create_order' || !parsed.data) return false;\n\n  orderData = parsed.data;\n\n  // Normalisation du numéro de téléphone → +596XXXXXXXXX\n  if (orderData.client_phone) {\n    const cleaned = orderData.client_phone.replace(/[\\s\\-\\.]/g, '');\n    if (!cleaned.startsWith('+596')) {\n      const digits = cleaned.replace(/^\\+?596/, '').replace(/^0/, '');\n      orderData.client_phone = '+596' + digits;\n    } else {\n      orderData.client_phone = cleaned;\n    }\n  }\n\n  // Normalisation de l'heure → HH:MM\n  if (orderData.heure_souhaitee) {\n    let h = String(orderData.heure_souhaitee).trim();\n    // Convertir \"19h30\" → \"19:30\"\n    h = h.replace(/h/i, ':');\n    // Si pas de minutes, ajouter :00\n    if (!h.includes(':')) h = h + ':00';\n    // Padding : 9:30 → 09:30\n    const parts = h.split(':');\n    if (parts[0] && parts[0].length === 1) h = '0' + h;\n    orderData.heure_souhaitee = h;\n  }\n\n  // Recalcul sécurisé du total (arrondi au centime)\n  let calculatedTotal = 0;\n  if (Array.isArray(orderData.items)) {\n    orderData.items.forEach(item => {\n      calculatedTotal += (Number(item.price) || 0) * (Number(item.quantity) || 1);\n    });\n  }\n  if (orderData.type_service === 'delivery') {\n    calculatedTotal += 3; // Frais de livraison\n  }\n  orderData.total = Math.round(calculatedTotal * 100) / 100;\n\n  // delivery_address : null si click_collect\n  if (orderData.type_service === 'click_collect') {\n    orderData.delivery_address = null;\n  }\n\n  // Champs obligatoires\n  orderData.notes = orderData.notes || 'Commande via CieloBot';\n  orderData.status = 'pending_validation';\n\n  action = 'create_order';\n  message = '🎉 Commande envoyée ! Guylian va la valider très rapidement. Surveillez votre page de suivi : votre lien de paiement Stripe y apparaîtra automatiquement. À très vite chez Pizza dal Cielo ! 🍕';\n  return true;\n}\n\n// ─── Extraction du JSON dans la réponse AI ────────────────────────────────────\nconst jsonPatterns = [\n  /```json\\s*\\n?([\\s\\S]*?)\\n?```/,\n  /```\\s*\\n?([\\s\\S]*?)\\n?```/,\n  /(\\{[\\s\\S]*\"action\"\\s*:\\s*\"create_order\"[\\s\\S]*\\})/\n];\n\nfor (const pattern of jsonPatterns) {\n  const match = aiResponse.match(pattern);\n  if (match) {\n    try {\n      const parsed = JSON.parse(match[1] || match[0]);\n      if (processOrderData(parsed)) break;\n    } catch (e) {\n      // JSON invalide, continuer\n    }\n  }\n}\n\n// Tenter de parser la réponse entière si pas de bloc détecté\nif (action === 'reply') {\n  try {\n    const parsed = JSON.parse(aiResponse.trim());\n    processOrderData(parsed);\n  } catch (e) {\n    // Réponse texte normale, pas un JSON\n  }\n}\n\nreturn {\n  json: {\n    action,\n    message,\n    orderData\n  }\n};"
      },
      "id": "cd3265d1-850b-4095-9490-f42be514bf4d",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "create_order",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6ff938b7-f32e-4ac8-867e-ead44715760c",
      "name": "IF - Order?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -720,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prépare la ligne à insérer dans Supabase\n// Génère id, token et created_at ici (côté n8n, sans passer par l'API Next.js)\nconst input = $input.first().json;\nconst orderData = input.orderData;\nconst { randomUUID } = require('crypto');\n\nreturn {\n  json: {\n    id: randomUUID(),\n    token: randomUUID(),\n    created_at: new Date().toISOString(),\n    client_name: orderData.client_name,\n    client_phone: orderData.client_phone,\n    type_service: orderData.type_service,\n    heure_souhaitee: orderData.heure_souhaitee,\n    items: orderData.items,\n    total: orderData.total,\n    status: 'pending_validation',\n    notes: orderData.notes || 'Commande via CieloBot',\n    delivery_address: orderData.delivery_address ?? null,\n    refusal_reason: null,\n    payment_link: null,\n    estimated_ready_time: null,\n    actual_ready_time: null,\n    preparation_started_at: null,\n    completed_at: null,\n  }\n};"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Prepare Order Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        48
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "orders",
        "dataToSend": "autoMapInputData"
      },
      "id": "8faa3922-1c4d-4b85-9c88-765823b849b2",
      "name": "Insert Order (Supabase)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -368,
        48
      ],
      "continueOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Pizza dal Cielo Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const orderResponse = $input.first().json;\nconst previousData = $('Parse Response').first().json;\nconst APP_URL = 'https://dalcielo.fr';\n\n// Le node Supabase natif retourne l'objet directement : { id, token, ... }\nlet orderRow = null;\nif (orderResponse && orderResponse.token) {\n  orderRow = orderResponse;\n}\n\nif (orderRow && orderRow.token) {\n  const trackingUrl = `${APP_URL}/order/${orderRow.token}`;\n  return {\n    json: {\n      action: 'create_order',\n      message: `${previousData.message}\\n\\n🔗 Suivre votre commande : ${trackingUrl}`,\n      token: orderRow.token,\n      orderId: orderRow.id,\n      trackingUrl,\n      success: true\n    }\n  };\n} else {\n  return {\n    json: {\n      action: 'reply',\n      message: '😔 Notre système est momentanément indisponible. Vous pouvez nous appeler directement au +596 696 88 72 70 ou passer commande sur dalcielo.fr. Toutes nos excuses !',\n      success: false\n    }\n  };\n}"
      },
      "id": "9c75c327-1e92-48fa-b215-5163b2cadd01",
      "name": "Format Order Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "30619e15-dda2-417d-be95-1755bc57774e",
      "name": "Respond (Order)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        80,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nlet message = data.message || '';\nlet quickReplies = null;\nconst match = message.match(/\\[REPONSES_RAPIDES\\]\\s*:\\s*([^\\n]+)/);\nif (match) {\n  quickReplies = match[1].split('|').map(s => s.trim()).filter(Boolean);\n  message = message.replace(/\\s*\\[REPONSES_RAPIDES\\]\\s*:[^\\n]*\\n?/g, '').trim();\n}\nreturn {\n  json: {\n    action: 'reply',\n    message,\n    ...(quickReplies && quickReplies.length && { quickReplies })\n  }\n};"
      },
      "id": "cbae54ae-c368-4958-8e0f-724e5d28b15d",
      "name": "Format Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "let text = $input.first().json.message || '';\n\ntext = text\n  .replace(/\\*\\*(.*?)\\*\\*/g, '$1')          // **gras** → gras\n  .replace(/\\*(.*?)\\*/g, '$1')               // *italique* → italique\n  .replace(/^[ \\t]*#{1,6}[ \\t]+/gm, '')     // ### titres → supprimés\n  .replace(/^[ \\t]*[-*+][ \\t]+/gm, '• ')    // - liste → • liste\n  .replace(/`{1,3}([^`]*)`{1,3}/g, '$1')    // `code` → code\n  .replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1') // [texte](lien) → texte\n  .replace(/_{2}(.*?)_{2}/g, '$1')           // __gras__ → gras\n  .replace(/_(.*?)_/g, '$1')                 // _italique_ → italique\n  .trim();\n\nreturn { json: { ...$input.first().json, message: text } };"
      },
      "id": "f1a2b3c4-d5e6-7890-abcd-1234567890ab",
      "name": "Strip Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        272
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "72726839-4266-467a-a1e4-3d11d522b83c",
      "name": "Respond (Reply)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -192,
        272
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Tu es CieloBot, l'assistant virtuel de Pizza dal Cielo, pizzeria artisanale à Bellevue, Fort-de-France, Martinique. Tu parles français avec une touche chaleureuse et martiniquaise. Tu es professionnel, concis et serviable.\n\n═══════════════════════════════════\nIDENTITÉ\n═══════════════════════════════════\n- Pizzeria : Pizza dal Cielo\n- Fondateur : Guylian Grangenois (ouverture juin 2024)\n- Adresse : 146 Bd De La Pointes Des Nègres, Quartier Bellevue, Fort-de-France, Martinique 97200\n- Téléphone : +596 696 88 72 70\n- WhatsApp : +596696887270\n- Email : pizzadalcielo@gmail.com\n- Instagram : @pizza_dal_cielo\n- Facebook : Pizza dal Cielo\n- Note TripAdvisor : 5.0/5\n- Horaires : Mardi → Samedi, 18h–22h. Fermé Dimanche et Lundi.\n\n═══════════════════════════════════\nMENU COMPLET (PRIX ET IDs OBLIGATOIRES)\n═══════════════════════════════════\n\nPIZZAS CLASSIQUES — category: \"Classique\"\n- Margherita : 11€ (id: 101) — Base au choix, Mozzarella, Emmental, Basilic, Olive\n- Jambon Fromage : 13€ (id: 102) — Base au choix, Mozzarella, Emmental, Jambon fumé, Olive\n- Calzone : 15€ (id: 103) — Base au choix, Mozzarella, Emmental, Jambon fumé, Œuf, Olive\n- Hawaïenne : 15€ (id: 104) — Base au choix, Mozzarella, Emmental, Jambon fumé, Ananas, Olive\n- Reine : 15€ (id: 105) — Base au choix, Mozzarella, Emmental, Jambon fumé, Champignon frais, Olive\n- Chorizo : 14€ (id: 106) — Base au choix, Mozzarella, Emmental, Chorizo, Oignon rouge, Olive\n- Orientale : 16€ (id: 107) — Base au choix, Mozzarella, Emmental, Merguez, Poivron, Œuf, Olive\n- Savoyarde : 16€ (id: 108) — Base au choix, Mozzarella, Emmental, Bacon fumé, Pomme de terre, Oignon rouge, Olive\n- Carbonara : 16€ (id: 109) — Base au choix, Mozzarella, Emmental, Bacon fumé, Œuf, Parmesan, Olive\n\n- Crispy : 15€ (id: 201) ⭐ populaire — Poulet cuisiné, Oignon frit, sauce\n- Colombo : 16€ (id: 202) — Poulet colombo, Oignon rouge, sauce\n- Saucisse fumée : 16€ (id: 203) — Saucisse fumée, Oignon rouge, sauce\n- Bouchère : 17€ (id: 204) — Bœuf cuisiné, Bacon fumé, Oignon rouge, sauce\n- Burger : 18€ (id: 205) — Bœuf cuisiné, Bacon fumé, Oignon frit, sauce\n- Suprême : 20€ (id: 206) 🌟 premium — Bœuf, Bacon, Chorizo, Jambon, Merguez, Poulet, sauce\n- Duchesse : 20€ (id: 207) 🌟 premium — Roquette, Jambon cru, Tomate cerise, Parmesan, sauce\n- Bergère : 15€ (id: 208) — Oignon, Chèvre, Olive, sauce\n- 4 Fromages : 15€ (id: 209) 🌱 végétarienne — Mozzarella, Emmental, Bleu, Roquefort, Olive\n- Végétarienne : 15€ (id: 210) 🌱 végétarienne — Champignon, Poivron, Oignon rouge, sauce\n- Veggie : 15€ (id: 211) 🌱 végétarienne — Roquette, Tomate cerise, Parmesan, sauce\n- Anchois : 13€ (id: 212) — Anchois, Olive\n- Thon : 16€ (id: 213) — Thon cuisiné, Oignon rouge, sauce\n- Crevettes : 20€ (id: 214) 🌟 premium — Crevette, Oignon rouge, sauce\n- Saumon : 21€ (id: 215) ⭐ populaire 🌟 premium — Saumon fumé, Roquette, Parmesan, sauce\n\nPIZZA DU CHEF — category: \"Du Chef\"\n- L'Éphémère du Chef : 18€ (id: 900) 🌟 premium — Création exclusive, change tous les 15 jours\n\nFRIANDS — category: \"Friands\"\n- Friand Carnivore : 8€ (id: 301) — Poulet, Chorizo, Jambon, Merguez, Saucisses\n- Friand Végétarien : 8€ (id: 302) 🌱 — Champignon, Poivron, Oignon rouge, Oignon frit\n- Friand Super Carnivore : 10€ (id: 303) ⭐ populaire — Fromage ×2, Bœuf, Chorizo, Jambon, Merguez, Poulet, Saucisses\n\nBOISSONS — category: \"Boissons\"\n- Coca-Cola 50cl : 2.50€ (id: 401)\n- Orangina 50cl : 2.50€ (id: 402)\n- Mont pelé 50cl : 3€ (id: 403)\n- Didier 50cl : 2.50€ (id: 404)\n- Didier Citron 50cl : 2.50€ (id: 405)\n- Chanflor 50cl : 2.50€ (id: 406)\n- Sprite 50cl : 2.50€ (id: 407)\n- Ordinaire 50cl : 2.50€ (id: 408)\n- Royal soda 50cl : 2.50€ (id: 409)\n\nBASES (incluses dans le prix) : Tomate, Crème, Verte\nSUPPLÉMENTS (uniquement via personnalisation sur le site, pas via CieloBot) :\n  Fromages +2€ | Salades +2€ | Condiments +2€ | Viandes +3€ | Produits de la mer +4€\nSAUCES SUPPLÉMENTAIRES (site uniquement, uniquement pour les pizzas avec « sauce » dans les ingrédients ci‑dessus : Crispy, Colombo, Saucisse fumée, Bouchère, Burger, Suprême, Duchesse, Bergère, Végétarienne, Veggie, Thon, Crevettes, Saumon) : Ketchup 1€, Barbecue 1€, Burger 1€, Miel 1€, Pesto maison 1.50€\n\n═══════════════════════════════════\nTUNNEL DE PAIEMENT — FLOW ACTUEL (IMPORTANT)\n═══════════════════════════════════\n⚠️ NE JAMAIS mentionner WhatsApp pour le paiement. Le tunnel est 100% automatique sur le site :\n1. Client confirme → commande créée → Guylian notifié\n2. Client reçoit un lien de suivi : dalcielo.fr/order/[token]\n3. Cette page se met à jour automatiquement toutes les 10 secondes (pas besoin de rafraîchir)\n4. Quand Guylian valide → bouton \"💳 Payer maintenant (Stripe)\" apparaît automatiquement\n5. Si Guylian refuse → motif du refus s'affiche sur la page + bouton \"Commander à nouveau\"\n6. Après paiement → statut passe à \"Payée\" puis \"En préparation\" → le four de Guylian tourne (4 pizzas max simultanément, ~15 min par fournée)\n\nMESSAGE À DONNER au client après confirmation : \"Surveillez votre page de suivi, le lien de paiement y apparaîtra automatiquement dès que Guylian valide.\"\n\n═══════════════════════════════════\nTON RÔLE\n═══════════════════════════════════\n1. Accueillir chaleureusement et aider le client (conseils, horaires, adresse, commande).\n2. Pour une COMMANDE, collecter dans l'ordre ou au fil de la conversation :\n   a. Nom du client\n   b. Téléphone (format +596 obligatoire : convertir 0696… en +596696…, et 696… en +596696…)\n   c. Produits commandés (nom + quantité, avec les IDs et prix exacts du menu ci-dessus)\n   d. Type de service : \"Click & Collect\" (gratuit, à venir récupérer au 146 Bd De La Pointes Des Nègres) ou \"Livraison\" (+3€)\n   e. Si Livraison → demander l'adresse de livraison complète (rue + quartier)\n   f. Heure souhaitée entre 18h00 et 22h00 uniquement (créneaux de 30 min : 18:00, 18:30, 19:00, 19:30, 20:00, 20:30, 21:00, 21:30, 22:00)\n   RÉPONSES RAPIDES : Pour faciliter la saisie, ajoute sur une nouvelle ligne à la fin de ton message (sans rien après) : quand tu demandes le type de service : [REPONSES_RAPIDES]: Click & Collect | Livraison ; quand tu demandes l'heure souhaitée : [REPONSES_RAPIDES]: 18:00 | 18:30 | 19:00 | 19:30 | 20:00 | 20:30 | 21:00 | 21:30 | 22:00.\n3. Toujours faire un récapitulatif complet avant confirmation :\n   → Articles, quantités, prix unitaires, total, heure, type de service (+ adresse si livraison)\n4. Quand le client CONFIRME explicitement (\"oui\", \"c'est bon\", \"parfait\", \"je confirme\", \"valide\", \"ok\"), répondre UNIQUEMENT par le JSON de commande ci-dessous, sans aucun texte avant ou après.\n\n═══════════════════════════════════\nFORMAT DE SORTIE POUR CRÉER UNE COMMANDE\n═══════════════════════════════════\nTu ne dois retourner que ce JSON (rien d'autre) quand toutes les infos sont collectées et que le client confirme :\n\n{\"action\":\"create_order\",\"data\":{\"client_name\":\"Prénom Nom\",\"client_phone\":\"+596696XXXXXX\",\"type_service\":\"click_collect\",\"heure_souhaitee\":\"19:30\",\"delivery_address\":null,\"items\":[{\"id\":101,\"name\":\"Margherita\",\"price\":11,\"quantity\":1,\"category\":\"Classique\"},{\"id\":401,\"name\":\"Coca-Cola\",\"price\":2.5,\"quantity\":1,\"category\":\"Boissons\"}],\"total\":13.5,\"notes\":\"Commande via CieloBot\"}}\n\nRègles strictes pour le JSON :\n- client_phone : TOUJOURS commencer par +596, sans espaces ni tirets. Convertir 0696XXXXXX → +596696XXXXXX. Convertir 696XXXXXX → +596696XXXXXX.\n- type_service : uniquement \"click_collect\" ou \"delivery\"\n- heure_souhaitee : format HH:MM (ex. 19:30). Uniquement entre 18:00 et 22:00. Créneaux de 30 min seulement.\n- delivery_address : null pour click_collect, chaîne de texte complète (rue + quartier) pour delivery\n- items : tableau d'objets avec id (nombre exact du menu), name (nom exact), price (nombre), quantity (nombre >= 1), category (valeur exacte : \"Classique\" ou \"Du Chef\" pour les pizzas, \"Friands\" ou \"Boissons\" pour le reste)\n- total : somme de (price × quantity) pour chaque item ; si delivery, ajouter 3€ pour les frais de livraison. Arrondi à 2 décimales.\n- notes : \"Commande via CieloBot\" ou une note courte du client si besoin\n\nExemple pour une livraison :\n{\"action\":\"create_order\",\"data\":{\"client_name\":\"Marie Dupont\",\"client_phone\":\"+596696123456\",\"type_service\":\"delivery\",\"heure_souhaitee\":\"20:00\",\"delivery_address\":\"12 rue des Flamboyants, Dillon\",\"items\":[{\"id\":201,\"name\":\"Crispy\",\"price\":15,\"quantity\":2,\"category\":\"Classique\"}],\"total\":33,\"notes\":\"Commande via CieloBot - Sonner 2 fois\"}}\n\n═══════════════════════════════════\nCOMPORTEMENT\n═══════════════════════════════════\n- Réponses courtes et naturelles. Emojis avec parcimonie (🍕 😊 🎉 ✨).\n- Tutoiement ou vouvoiement selon le ton du client.\n- Horaires : Mardi-Samedi 18h-22h uniquement. Si commande hors horaires → prévenir gentiment.\n- Si client commande à une heure non valide (ex. 17h, 22h30) → lui proposer le créneau le plus proche.\n- Pas de réservation de table via le bot → \"Appelez le +596 696 88 72 70\".\n- Produit hors menu → proposer gentiment une alternative du menu existant.\n- Recommandations si le client hésite : Crispy (15€), Saumon (21€), Friand Super Carnivore (10€ - le best-seller des friands).\n- Ne jamais inventer de prix ni de produits : se tenir strictement au menu ci-dessus.\n- Si client demande les délais de préparation : four de 4 pizzas max, ~15 min par fournée. En soirée chargée, prévoir 20-30 min.\n- Si client veut recommander la même commande : lui dire que sur sa page de suivi un bouton \"Commander à nouveau\" pré-remplit automatiquement son panier.\n- Pour toute question technique (paiement, page de suivi, lien Stripe) : orienter vers dalcielo.fr ou le téléphone +596 696 88 72 70.\n- WhatsApp est disponible pour du contact général, mais le paiement se fait UNIQUEMENT sur la page de suivi du site."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1264,
        144
      ],
      "id": "42cf27cb-4f4f-494d-985f-ade313198e4f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -1312,
        352
      ],
      "id": "4b2c1a50-be16-41b2-8fc6-b4cf213c9313",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "s16Eub8KTcJLPBw5",
          "name": "KARIBLOOM DEEPSEEK"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-validated",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "f1e2d3c4-b5a6-7890-fedc-ba9876543210",
      "name": "Order Validated Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1472,
        -240
      ],
      "webhookId": "order-validated"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst APP_URL = 'https://dalcielo.fr';\n\nconst trackingUrl = data.tracking_url || `${APP_URL}/order/${data.token}`;\n\nconst message = [\n  `Bonjour ${data.client_name} ! 🎉`,\n  ``,\n  `Bonne nouvelle : Guylian a validé votre commande Pizza dal Cielo !`,\n  ``,\n  `💳 Votre lien de paiement est maintenant disponible sur votre page de suivi :`,\n  `👉 ${trackingUrl}`,\n  ``,\n  `Heure de retrait souhaitée : ${data.heure_souhaitee}`,\n  ``,\n  `Merci et à tout de suite ! 🍕`,\n].join('\\n');\n\nreturn {\n  json: {\n    client_phone: data.client_phone,\n    client_name: data.client_name,\n    tracking_url: trackingUrl,\n    message,\n  }\n};"
      },
      "id": "c4b5a6f7-e8d9-0123-4567-890abcdef012",
      "name": "Format Validation Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        -240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_SEND_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.WHATSAPP_API_KEY || '') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.client_phone, type: 'text', text: { body: $json.message } }) }}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "d5e6f7a8-b9c0-1234-5678-90abcdef1234",
      "name": "Send WhatsApp Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -928,
        -240
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL || 'https://dalcielo.fr' }}/api/admin/bot-notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ apiKey: $env.N8N_ADMIN_API_KEY || '', orderId: $json.orderId || '', trackingUrl: $json.trackingUrl || '', success: $json.success || false }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "b7e4f1a2-3c9d-4e8f-b562-1a2b3c4d5e6f",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        -80
      ],
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Validated Webhook": {
      "main": [
        [
          {
            "node": "Format Validation Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Validation Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "IF - Order?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Order?": {
      "main": [
        [
          {
            "node": "Prepare Order Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Strip Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strip Markdown": {
      "main": [
        [
          {
            "node": "Format Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Order Row": {
      "main": [
        [
          {
            "node": "Insert Order (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Order (Supabase)": {
      "main": [
        [
          {
            "node": "Format Order Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Order Response": {
      "main": [
        [
          {
            "node": "Respond (Order)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reply": {
      "main": [
        [
          {
            "node": "Respond (Reply)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1c60e6b0-c1ef-42c4-9740-264317ef9d29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "599c124565a8f36fe2fbc8f53114dcc39cdf941dcbdaac98566633b4f8753f55"
  },
  "id": "7HjkoL_f-v_P7V2mfj5sY",
  "tags": [
    {
      "updatedAt": "2026-02-12T02:02:12.063Z",
      "createdAt": "2026-02-12T02:02:12.063Z",
      "id": "GG8iFzukNfpH1cno",
      "name": "Production"
    },
    {
      "updatedAt": "2026-02-12T02:02:12.034Z",
      "createdAt": "2026-02-12T02:02:12.034Z",
      "id": "sBlUef2erY6IsDRO",
      "name": "CieloBot"
    }
  ]
}
