n8n/Reçu Pizza dal Cielo - PDF.json
{
  "name": "Reçu Pizza dal Cielo - PDF",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receipt-pizza-dal-cielo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e9b8062a-167d-44b4-ad5b-76f06d8f0a47",
      "name": "Webhook Reçu",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1392,
        16
      ],
      "webhookId": "receipt-pizza-dal-cielo"
    },
    {
      "parameters": {
        "url": "={{ 'https://louella-bottomless-subtly.ngrok-free.dev/api/orders/' + $json.body.token }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Bypass-Tunnel-Reminder",
              "value": "true"
            },
            {
              "name": "User-Agent",
              "value": "n8n-webhook-receipt/1.0"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "a62ef3cd-e335-49de-99ab-3e2b4daccdf6",
      "name": "GET Commande",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const order = $input.first().json.order;\nif (!order) return [];\n\nconst serviceLabel = order.type_service === 'click_collect' ? 'Click & Collect' : 'Livraison';\nconst dateFormatted = order.created_at\n  ? new Date(order.created_at).toLocaleString('fr-FR', {\n      day: '2-digit',\n      month: 'long',\n      year: 'numeric',\n      hour: '2-digit',\n      minute: '2-digit',\n    })\n  : '';\n\nconst itemsRows = order.items.map((item) => {\n  const qte = Number(item.quantity) || 1;\n  const pu = Number(item.price) || 0;\n  const totalLigne = (pu * qte).toFixed(2).replace('.', ',');\n  const puStr = pu.toFixed(2).replace('.', ',') + '€';\n  return `${item.name}\\t${qte}\\t${puStr}\\t${totalLigne}€`;\n});\nconst ITEMS = itemsRows.join('\\n');\n\nreturn [{\n  json: {\n    CLIENT_NAME: order.client_name || '',\n    ORDER_ID: order.id.slice(0, 8).toUpperCase(),\n    DATE: dateFormatted,\n    ITEMS,\n    TOTAL: order.total.toFixed(2).replace('.', ',') + '€',\n\n    PHONE: order.client_phone || '',\n    SERVICE: serviceLabel,\n    HEURE: order.heure_souhaitee || '—',\n    ADDRESS: order.type_service === 'delivery' ? (order.delivery_address || '') : '—',\n    NOTES: order.notes || '—',\n    STATUT: order.status,\n    order,\n  }\n}];\n"
      },
      "id": "d71c3134-be7e-4f47-9fb9-3ea06c7717bf",
      "name": "SET champs reçu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        16
      ]
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1A3WgcwUM66_J4vTmIbhu95EhuzZ9ORX52YeH8BTj2TU",
          "mode": "id"
        },
        "name": "=Reçu {{ $json.ORDER_ID }} {{ $now.format('dd-MM-yyyy') }}",
        "options": {}
      },
      "id": "ffe2f5f1-1e78-4991-9696-66d00292fd96",
      "name": "Copy template Doc",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2048,
        16
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gLj6abhGvKjRkjRG",
          "name": "KARIBLOOM DRIVE"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{CLIENT_NAME}}",
              "replaceText": "={{ $('SET champs reçu').item.json.CLIENT_NAME }}"
            },
            {
              "action": "replaceAll",
              "text": "{{ORDER_ID}}",
              "replaceText": "={{ $('SET champs reçu').item.json.ORDER_ID }}"
            },
            {
              "action": "replaceAll",
              "text": "{{DATE}}",
              "replaceText": "={{ $('SET champs reçu').item.json.DATE }}"
            },
            {
              "action": "replaceAll",
              "text": "{{ITEMS}}",
              "replaceText": "={{ $('SET champs reçu').item.json.ITEMS }}"
            },
            {
              "action": "replaceAll",
              "text": "{{TOTAL}}",
              "replaceText": "={{ $('SET champs reçu').item.json.TOTAL }}"
            },
            {
              "action": "replaceAll",
              "text": "{{PHONE}}",
              "replaceText": "={{ $('SET champs reçu').item.json.PHONE }}"
            },
            {
              "action": "replaceAll",
              "text": "{{SERVICE}}",
              "replaceText": "={{ $('SET champs reçu').item.json.SERVICE }}"
            },
            {
              "action": "replaceAll",
              "text": "{{HEURE}}",
              "replaceText": "={{ $('SET champs reçu').item.json.HEURE }}"
            },
            {
              "action": "replaceAll",
              "text": "{{ADDRESS}}",
              "replaceText": "={{ $('SET champs reçu').item.json.ADDRESS }}"
            },
            {
              "action": "replaceAll",
              "text": "{{NOTES}}",
              "replaceText": "={{ $('SET champs reçu').item.json.NOTES }}"
            },
            {
              "action": "replaceAll",
              "text": "{{STATUT}}",
              "replaceText": "={{ $('SET champs reçu').item.json.STATUT }}"
            }
          ]
        }
      },
      "id": "2d9fa626-2920-4a70-8daf-8a3d03ae1b9f",
      "name": "Update document",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2272,
        16
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "wM8ZTFUsebHc6zdy",
          "name": "KARIBLOOM DOCS"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Copy template Doc').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          },
          "fileName": "=Reçu_{{ $('SET champs reçu').item.json.ORDER_ID }}.pdf"
        }
      },
      "id": "da18208c-1731-4e51-9edc-858c087ef220",
      "name": "Download as PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2496,
        16
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gLj6abhGvKjRkjRG",
          "name": "KARIBLOOM DRIVE"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "karibloom972@gmail.com",
        "toEmail": "=karibloom972@gmail.com",
        "subject": "=Reçu commande #{{ $('SET champs reçu').item.json.ORDER_ID }} - Pizza dal Cielo",
        "options": {
          "attachments": "data"
        }
      },
      "id": "ded4c002-064b-4fc1-9e88-98e8f5cc7ebe",
      "name": "Envoyer email (Guylian)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2704,
        16
      ],
      "webhookId": "8ade1239-89e0-4850-b9a9-8d86b38099b0",
      "credentials": {
        "smtp": {
          "id": "PaBuAuiGg07lJGPa",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "0b14c318-f4ed-43a0-936d-3d418d35d69e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2928,
        16
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Reçu": {
      "main": [
        [
          {
            "node": "GET Commande",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Commande": {
      "main": [
        [
          {
            "node": "SET champs reçu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET champs reçu": {
      "main": [
        [
          {
            "node": "Copy template Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy template Doc": {
      "main": [
        [
          {
            "node": "Update document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update document": {
      "main": [
        [
          {
            "node": "Download as PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download as PDF": {
      "main": [
        [
          {
            "node": "Envoyer email (Guylian)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer email (Guylian)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a54ec7e8-d631-4ea1-9e63-0bb1a85aca86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "599c124565a8f36fe2fbc8f53114dcc39cdf941dcbdaac98566633b4f8753f55"
  },
  "id": "9IXOx7dyRKcRaMbbJLlPg",
  "tags": []
}